body{
  overflow: auto;
  box-sizing: border-box;
  background: #F7F7F7;
  //color: #373F51;
  //font-family: "MontRegular",sans-serif;
  &::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(132, 148, 185,0.3);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(132, 148, 185,0.3);
  }
}

.page_wrapper{
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  width: 100%;
  padding: 76px 64px 87px;
}

a, button{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.good_hover {
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  &:hover{
    opacity: 0.5;
  }
}

.card_hover {
  cursor: pointer;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  -ms-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  &:hover{
    margin-top: -3px;
    margin-bottom: 3px;
  }
}

.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Toastify__toast--error {
  background: #E02020!important;
  padding: 6px 16px!important;
  font-size: 0.875rem!important;
  height: 48px!important;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12)!important;
  border-radius: 4px!important;
}

.Toastify__toast-container {
  width: 450px!important;
}