.user_management_page{
  .user_management_table{
    .table_header .table_row .row_item:first-of-type button{
      cursor: auto;
    }
    .transactions_columns {

      .table_row {
        & > :first-child {
          width: 30%;
          display: flex;
          align-items: center;
          p{
            color: #373F51;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          a{
            text-decoration: none;
            display: flex;
            align-items: center;
          }
          img{
            margin-left: 8px;
          }
        }
        & > :nth-child(2) {
          width: 32%;
          padding-left: 2%;
          box-sizing: border-box;
          img{
            margin-right: 8px;
          }
        }
        & > :nth-child(3) {
          width: 32%;
        }
        & > :last-child {
          width: 4%;
          display: flex;
          justify-content: flex-end;
          padding-right: 12px;
        }
        .dummy {
          color: #373F51;
          opacity: 0.5;
        }
      }
    }
  }
  .panel_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .block_btn{
      button{
        margin-left: 32px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: "MontSemiBold",sans-serif;
      }
    }
  }
}

.btn_sort{
  color: rgba(55, 63, 81, 0.5);
  font-size: 10px;
  font-family: "MontSemiBold",sans-serif;
  display: flex;
  .sort{
    width: auto;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    margin-left: 5px;
    img{
      margin-left: 0!important;
      opacity: 0.5;
      margin: 0.5px 0;
    }

  }
}
.sort_up{
  .sort{
    .up{
      opacity: 1;
    }
  }
}

.sort_down{
  .sort{
    .down{
      opacity: 1;
    }
  }
}

.delete_dialog{
  .title{
    padding-bottom: 24px;
    font-family: "MontSemiBold",sans-serif;
    font-size: 28px;
    letter-spacing: -0.5px;
    line-height: 42px;
  }
  .descriptions{
    font-size: 14px;
    line-height: 20px;
    span{
      font-family: "MontSemiBold",sans-serif;
    }
  }
  .btn_wrapper{
    display: flex;
    margin-top: 40px;
    button{
      margin-right: 16px;
    }
  }
}

.import_dialog{
  width: 100%;
  .title{
    padding-bottom: 24px;
    font-family: "MontSemiBold",sans-serif;
    font-size: 28px;
    letter-spacing: -0.5px;
    line-height: 42px;
  }
  .wrapper_render{
    display: flex;
    >div:first-of-type{
      display: flex;
      flex-flow: column;
      margin-right: 24px;
      >span{
        font-family: "MontSemiBold",sans-serif;
        font-size: 10px;
        line-height: 16px;
        padding-bottom: 4px;
      }

    }
    .input_wrapper{
      display: flex;
      align-items: flex-end;
      input{
        border: 1px solid rgba(55, 63, 81, 0.3);
        border-radius: 3px;
        height: 40px;
        width: 372px;
        box-sizing: border-box;
        padding: 0 16px;
        font-family: "MontRegular",sans-serif;
        color: #373F51;
        transition: all 0.3s linear;
        &::placeholder{
          color: rgba(55, 63, 81, 0.3);
        }
      }
    }


  }
  .btn_wrapper{
    display: flex;
    margin-top: 40px;
    button{
      margin-right: 16px;
      height: 36px;
      line-height: 36px;
      min-width: 104px;
      width: 104px;
      box-sizing: border-box;
      font-size: 12px;
      padding: 0;
    }
    .MuiSvgIcon-root{
      cursor: pointer;
      margin-top: 6px;
      >path:last-of-type{
        fill: red
      }
    }
  }
  .user_import{
    display: flex;
    flex-flow: column;
    overflow: auto;
    box-sizing: border-box;
    max-height: 366px;
    padding-right: 15px;
    &::-webkit-scrollbar {
      width: 6px;
      height:6px;
    }
    &::-webkit-scrollbar-track {
      -webkit-border-radius: 2px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: rgba(132, 148, 185,0.3);
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(132, 148, 185,0.3);
    }
    p{
      opacity: 0.5;
      font-family: "MontSemiBold",sans-serif;
      font-size: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(55, 63, 81, 0.1);
    }
    span{
      border-bottom: 1px solid rgba(55, 63, 81, 0.1);
      font-size: 14px;
      padding: 10px 0;
      display: flex;
    }
  }
}


.download_wrapper{
  display: flex;
  align-items: flex-end;
  #file {
    display: none;
  }
  .download{
    color: rgba(55, 63, 81, 0.3);
    height: 38px;
    width: 268px;
    font-size: 14px;
    border: 1px solid rgba(55, 63, 81, 0.3);
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 3px 0 0 3px;
  }
  .file_{
    color: rgba(55, 63, 81, 1);
  }
  .grey_btn{
    font-size: 12px;
    border-radius: 0 3px 3px 0;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(132,148,185,0.15);
  }
}





